@import url(../font/font-awesome.min.css);
*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 80px;
  margin-bottom:30px;
  background: green;
}
#box{
  clear: both;
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  #left{
    width: 240px;
    height: 300px;
    background: red;
    float: left;
  }
  #right{
    width:960px;
    //height: 300px;
    //background: greenyellow;
    float: left;
    #seven_header{
      width: 960px;
      height: 75px;
      border: 1px solid #ededed;
      line-height: 75px;
      background: white;
      font-size: 14px;
      position: relative;
      span{
        margin-left: 20px;
        display: inline-block;
        font-weight: bold;
        padding-left: 12px;
      }
    }
    #seven_content{
      width: 960px;
      //height: 885px;
      //border: 1px solid #ededed;
      //line-height: 885px;
      background: white;
      font-size: 14px;
      padding-bottom: 90px;
      border-bottom: 1px solid #ededed;
      ul{
        margin-top: 40px;
        margin-left: 30px;
        li:nth-of-type(1){
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          input{
            width: 200px;
            height: 40px;
            background: white;
            border: 1px solid #ededed;
            margin-left: 45px;
            border-radius: 5px;
          }
          img{
            margin-left: 10px;
          }
        }
        li:nth-of-type(2){
          margin-top: 20px;
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          button:nth-of-type(1){
            margin-left: 75px;
            border: 1px solid #ededed;
            background: white;
            width: 120px;
            height: 40px;
            border-radius: 5px;
            span{
              display: inline-block;
              padding-left: 50px;
            }
          }
          button:nth-of-type(2){
            margin-left: 10px;
            border: 1px solid #ededed;
            background: white;
            width: 120px;
            height: 40px;
            border-radius: 5px;
            span{
              display: inline-block;
              padding-left: 50px;
            }
          }
          button:nth-of-type(3){
            margin-left: 10px;
            border: 1px solid #ededed;
            background: white;
            width: 120px;
            height: 40px;
            border-radius: 5px;
            span{
              display: inline-block;
              padding-left: 50px;
            }
          }
          img{
            margin-left: 10px;
          }
        }
        li:nth-of-type(3){
          margin-top: 20px;
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          input{
            width: 200px;
            height: 40px;
            background: white;
            border: 1px solid #ededed;
            margin-left: 45px;
            border-radius: 5px;
          }
          img{
            margin-left: 10px;
          }
        }
        li:nth-of-type(4){
          margin-top: 20px;
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          input{
            width: 200px;
            height: 40px;
            background: white;
            border: 1px solid #ededed;
            margin-left: 60px;
            border-radius: 5px;
          }
          img{
            margin-left: 10px;
          }
        }
        li:nth-of-type(5){
          margin-top: 20px;
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          input{
            width: 200px;
            height: 40px;
            background: white;
            border: 1px solid #ededed;
            margin-left: 45px;
            border-radius: 5px;
          }
          img{
            margin-left: 10px;
          }
        }
        li:nth-of-type(6){
          margin-top: 20px;
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          input{
            width: 200px;
            height: 40px;
            background: white;
            border: 1px solid #ededed;
            margin-left: 85px;
            border-radius: 5px;
          }
        }
        li:nth-of-type(7){
          margin-top: 20px;
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          input{
            width: 200px;
            height: 40px;
            background: white;
            border: 1px solid #ededed;
            margin-left: 70px;
            border-radius: 5px;
          }
        }
        li:nth-of-type(8){
          margin-top: 20px;
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          input{
            width: 480px;
            height: 100px;
            background: white;
            border: 1px solid #ededed;
            margin-left: 70px;
            border-radius: 5px;
          }
        }
        li:nth-of-type(9){
          margin-top: 20px;
          display: flex;
          span{
            display: inline-block;
            color: black;
            font-weight: bold;
          }
          dl{
            margin-left: 50px;
            display: flex;
            dt{
              width: 100px;
              height: 100px;
              line-height: 100px;
              text-align: center;
              font-size: 16px;
              font-weight: bold;
              border: 1px solid #ededed;
              background: #f4f4f4;
              color: #bababa;
            }
            dd{
              margin-left: 20px;
              button{
                width: 80px;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                font-weight: bold;
                border-radius: 3px;
                background: white;
                border: 1px solid #dcdcdc;
                color: #8b8b8b;
              }
              p:nth-of-type(1){
                margin-top: 20px;
                font-size: 12px;
                //font-weight: bold;
              }
              p:nth-of-type(2){
                margin-top: 15px;
                font-size: 12px;
                //font-weight: bold;
              }
            }
          }
        }
        li:nth-of-type(10){
          margin-top: 60px;
          margin-left: 110px;
          button{
            width: 100px;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 3px;
            background: #fd6577;
            border:none;
            color: white;
          }
        }
      }
    }
  }
}